@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .wrapper__center-img{
        width: 768px;
    }
    .wrapper__bottom-content{
       display: grid;
       justify-content: center;
       gap: 60px;
    }
}

@media (max-width: 768px) {
    .wrapper__center-img{
        width: 576px;
    }
}

@media (max-width: 576px) {
    .wrapper__center-img{
        width: 460px;
    }
}

@media (max-width: 320px) {}